---
title: Contact
description: Contact information for Savi.
layout: page
---

<div class='wrapper--tight'>
  <div class='featured-section intro-section'>
    <h1>Contact</h1>

    <p class='intro-text'>Get in touch</p>
  </div>

  <div class='centered padding-top-md'>
    <p>
      Email: <a href='mailto:{{ site.email }}'>{{ site.email }}</a>
    </p>

      <p>
        {% if site.twitter_url %}
          {% include twitter-link.html %}
        {% endif %}

        &nbsp;&#8226;&nbsp;

        {% if site.facebook_url %}
          {% include facebook-link.html %}
        {% endif %}
      </p>

  </div>
</div>
