---
title: Home
layout: fw_page
---

<div class='banner banner--home with-image'>
  <h2 class='banner__title'>Build incredible learning experiences.</h2>
</div>

<div class="wrapper wrapper--tight">
  <div class='featured-section'>
    <h1 class='accented'>Savi Ed Labs</h1>

    <div class='intro-text'>
      <p>
        We’re passionate about discovering innovative and inspiring ways to make school amazing. We believe in creating student-centered experiences that empower learners to become problem solvers, explorers, historians, producers, engineers, and makers.
      </p>

      <p>
        At Savi Ed Labs, we help teachers build and share better projects through personalized coaching, workshops, and our very own application — LaunchPad.
      </p>
    </div>

    <a class='btn' href='/services'>Learn More About Our Services</a>
  </div>

  <div class='featured-section'>
    <img
      src='/images/launchpad.png'
      alt='LaunchPad Logo'
      class='home__launchpad-logo'
      >

    <p class='intro-text'>
      LaunchPad is a revolutionary curriculum planner built for project based learning.  Finally — a simple and flexible interface that streamlines project design and provides teachers and students with the right tools to map and manage the adventure.
    </p>

    <ul class='home__launchpad__features'>
      <li>Built for project based learning—map and manage projects easily and efficiently</li>
      <li>Collaborate with everyone on your team</li>
      <li>Provides a framework for student-designed projects</li>
      <li>Copy and customize activities and projects</li>
      <li>Simplifies proficiency tracking</li>
    </ul>

    <a class='btn' href='/launchpad'>Learn More About LaunchPad</a>

    <p class='intro-text launchpad__after-callout'>Whether you're designing a mini-project or creating a holistic learning expedition, LaunchPad helps you build personalized projects that make learning engaging, relevant, and fun!</p>
  </div>

  {% if site.posts.length > 0 %}
    <div class='featured-section'>
      <h2>Latest From the Blog</h2>

      {% for post in site.posts limit:1 %}
        <h4 class='latest-blog-title'>
          <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h4>

        <p>{{ post.excerpt }}</p>

        <a href="{{ post.url | prepend: site.baseurl }}">
          Keep Reading
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
