<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__content">
      <ul class='link-list'>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <li>
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
                {{ my_page.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul class='link-list site-footer_content__social'>
        {% if site.twitter_url %}
          <li>
            <a href="{{ site.twitter_url }}">
              Twitter
            </a>
          </li>
        {% endif %}

        {% if site.facebook_url %}
          <li>
            <a href="{{ site.facebook_url }}">
              Facebook
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>
