// Re-usable elements

// List of links like a nav, use with an `ul`
.link-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;

    $li-padding: 34px;
    padding-left: $li-padding;
    padding-right: $li-padding;

    a {
      text-decoration: none;
      color: $text-color;

      &:hover {
        color: darken($text-color, 15%);
      }
    }

    @include media-query($on-palm) {
      display: block;
      padding: $li-padding / 2;
    }
  }

}

// Centered and spaced out featured content
.featured-section {
  padding-top: $spacing-unit--large;
  text-align: center;

  &:last-of-type{
    padding-bottom: $spacing-unit--large;
  }

  p {
    text-align: left;
  }

  .intro-text {
    padding-bottom: $spacing-unit--medium;
    padding-top: $spacing-unit--medium;
  }
}

// Banner with centered title and content
.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 336px;
  text-align: center;

  &.with-image {
    background-size: cover;

    .banner__title {
      color: $background-color;
    }
  }
}
