// Re-usable elements

// List of links like a nav, use with an `ul`
.link-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;

    $li-padding: 34px;
    padding-left: $li-padding;
    padding-right: $li-padding;

    a {
      text-decoration: none;
      color: $text-color;

      &:hover {
        color: darken($text-color, 15%);
      }
    }

    @include media-query($on-palm) {
      display: block;
      padding: $li-padding / 2;
    }
  }

}

// Centered and spaced out featured content
.featured-section {
  padding-top: $spacing-unit--medium;
  text-align: center;

  p {
    text-align: left;
  }

  &.intro-section {
    padding-top: $spacing-unit--medium;

    p.intro-text {
      text-align: center;
      padding-bottom: $spacing-unit / 2;
      padding-top: $spacing-unit / 3;
    }
  }

  .intro-text {
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;

    // for multi-paragraph intro spacing
    p {
      padding-bottom: $spacing-unit;
    }
  }
}

// Banner with centered title and content
.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: $banner-height;
  text-align: center;

  &.with-image {
    background-position-y: center;
    background-size: cover;

    .banner__title {
      color: $background-color;
    }
  }
}
