// Styles for the home page

.home__launchpad-logo {
  text-align: center;
  max-width: 280px;
}

.latest-blog-title {
  padding-top: $spacing-unit / 2;
}

.banner--home {
  background-image: url('/images/home--banner.jpg');
}

.home__launchpad__features {
  @extend .launchpad__features;
  margin-bottom: $spacing-unit--medium;
}

.featured-section {
  .launchpad__after-callout {
    margin-top: $spacing-unit;
    padding-bottom: 0;
  }
}
