// Styles for the LaunchPad page

.launchpad {
  .featured-section {
    .featured--section__title {
      margin-bottom: $spacing-unit;
    }
  }

  p, li {
    font-size: $base-font-size * 1.2;
  }
}

.launchpad__logo {
  max-width: 320px;
  padding-bottom: $spacing-unit--medium;
}

.launchpad__features {
  list-style: none;
  margin-left: 0;

  li {
    margin-bottom: $spacing-unit;
  }
}

.launchpad__screenshot {
  margin: 0 auto;
  max-width: 920px;
  padding-bottom: $spacing-unit--medium;
  width: 100%;

  &:last-of-type {
    padding-bottom: 0;
  }

  .featured--section__title {
    padding-bottom: $spacing-unit;
  }

  img {
    padding-bottom: $spacing-unit--medium;
  }
}
