$header-height: 72px;

/**
 * Site header
 */
.site-header {
  align-items: center;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  min-height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;

  .wrapper {
    width: 100%;
  }
}

a.site-title {
  color: $text-color;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 0;
  text-decoration: none;
  vertical-align: middle;

  .brandmark {
    margin-top: -4px;
    width: 40px;
  }

  .site-title__text {
    padding-left: 6px;
  }
}

.site-nav {
  float: right;
  line-height: 30px;

  .link-list {
    li {
      padding: 0;

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        padding-right: 32px;

        @include media-query($on-palm) {
          padding-right: 0px;
        }
      }
    }
  }

  .page-link {
    color: $text-color;
    line-height: 18px;
    font-size: 16px;
    vertical-align: middle;
  }

  @include media-query($on-palm) {
    border-radius: 5px;
    position: absolute;
    right: 0;
    text-align: right;
    top: $header-height;
    width: 100%;

    .nav-items {
      background: $background-color;
      clear: both;
      display: none;
      padding: 12px 0;
      text-align: center;
      width: 100%;

      .link-list {
        $ll-border: 1px solid $grey-color-light;
        border-bottom: $ll-border;
        border-top: $ll-border;
        margin: 0 24px;
      }
    }

    .page-link {
      display: block;
      margin: 0;
      padding: 20px 0;

      &:not(:last-child) {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.menu-icon {
  display: none;

  @include media-query($on-palm) {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg {
      width: 18px;
      height: 15px;

      path {
        fill: $grey-color-dark;
      }
    }
  }
}


.site-footer {
  margin-top: $spacing-unit--large;
  padding: 8px 0;

  .site-footer__content {
    padding: 44px 0;
    border-top: 1px solid $grey-color-light;
    text-align: center;

    @include media-query($on-palm) {
      margin-left: 24px;
      margin-right: 24px;
    }

    .link-list {
      li {
        padding-bottom: $spacing-unit;
      }
    }

    .site-footer_content__social {
      margin-top: $spacing-unit / 2;

      @include media-query($on-palm) {
        margin-top: 0;
      }
    }
  }
}

.site-footer__details {
  margin: 12px auto;
}

@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}


/**
* Page content
*/
.page-content {
  margin-top: $header-height;
}

.page-heading {
  font-size: 20px;
}

// Modifiers

.text--center {
  text-align: center !important;
}

// Use for positioning elements off screen while still being in the DOM,
// like titles that are replaced with images
.off-screen {
  height: 0;
  margin: 0 0 0 -9999px;
  padding: 0;
}
