$header-height: 54px;

/**
 * Site header
 */
.site-header {
  background-color: $background-color;
  min-height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;

  .wrapper {
    padding-top: 12px;
  }
}

a.site-title {
  color: $text-color;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 0;
  text-decoration: none;
  vertical-align: middle;

  .brandmark {
    margin-top: -4px;
    width: 30px;
  }

  .site-title__text {
    padding-left: 6px;
  }
}

.site-nav {
  float: right;
  line-height: 30px;

  .link-list {
    li {
      padding: 0;

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        padding-right: 32px;

        @include media-query($on-palm) {
          padding-right: 0px;
        }
      }
    }
  }
  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    width: 100%;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;

      .link-list {
        border-bottom: 1px solid $grey-color;
        border-top: 1px solid $grey-color;
        margin: 0px 24px;
      }
    }

    &:hover .trigger {
      background: $background-color;
      display: block;
      padding-top: 12px;
      margin-left: 12px;
      text-align: center;
      width: 100%;
    }

    .page-link {
      display: block;
      margin: 0;
      padding: 20px 0;

      &:not(:last-child) {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.site-footer {
  padding: 8px 0;

  .site-footer__content {
    padding: 44px 0;
    border-top: 1px solid $grey-color;
    text-align: center;

    @include media-query($on-palm) {
      margin-left: 24px;
      margin-right: 24px;
    }

    .site-footer_content__social {
      margin-top: 34px;

      @include media-query($on-palm) {
        margin-top: 0;
      }
    }
  }
}

@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}


/**
* Page content
*/
.page-content {
  margin-top: $header-height;
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
