// Styles for the Our Story page

.banner--our-story {
  background-image: url('/images/our-story--banner.jpg');
}

.our-story {
  .featured-section {
    p.intro-text {
      padding-top: 0px;
      padding-bottom: $spacing-unit;
    }
  }
}

.our-story__team {
  text-align: center;

  p {
    text-align: left;
  }
}

.person {
  padding-left: $spacing-unit--medium;
  padding-right: $spacing-unit--medium;
  text-align: center;

  .person__photo {
    width: 100px;
    padding-bottom: $spacing-unit;
  }

  .person__name {
    padding-bottom: $spacing-unit;
  }

  p {
    text-align: left;

    &:last-of-type {
      padding-bottom: $spacing-unit--medium;
    }
  }
}

.rowland-logo {
  width: 150px;
}
