// Styles for the Services page

.service {
  text-align: center;

  .service__icon,
  .service__title {
    text-align: center;
  }

  .service__icon {
    width: 80px;
    padding-bottom: $spacing-unit;
  }

  .service__title {
    padding-bottom: $spacing-unit;
  }

  .service__description {
    padding-bottom: $spacing-unit--medium;
    text-align: left;
  }
}
