<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93084363-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script
      src="https://code.jquery.com/jquery-3.1.0.min.js"
      integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
      crossorigin="anonymous"
      >
    </script>

    <script>
      $(document).ready(function() {
        $navItems = $('.nav-items');

        function setMobileNavWidth() {
          var $width = $( window ).width();
          if ($width <= 600) {
            $navItems.width($width);
          } else {
            $navItems.css('width', 'inherit');

            if (!$navItems.is(":visible")) {
              $navItems.css('display', 'inherit');
            }
          }
        }

        // Set the width of the mobile nav links on load and on resize
        setMobileNavWidth();
        $( window ).resize(function() {
          setMobileNavWidth();
        });


        // Handle displaying and hiding the mobile nav
        $('.menu-icon').click(function() {
          $navItems.toggle();
        });
      });
    </script>
  </body>

</html>
